body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 55px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    margin: 12px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background: url(bg.jpg) center;
    background-size: cover;
    justify-content: center;

}

.songList{
  width: 40%;
}

.songBanner {
  background-color: aquamarine;
  width: 40%;
}

.Bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px 0;

}
.icons {
  margin: 20px ;
}

.icons i {
  cursor: pointer;
}

#myProgressBar {
    width: 80vh;
    text-align: center;
}

